
@content-bgcolor:#D9EBF7;//#b0d0e5
@page-bgcolor: #b4c6d2;
@content-border-color: #7f7f7f;
@header-separator-color: #71a7ca;
@header-reflect-color: #7b7b7b;
@menu-link-color: white;
@content-hr-color: black;
@width-content: 1000px;
@footer-color-font: #777777;
@content-padding: 20px;

body {
	background-color: @page-bgcolor;
	background-image: url('../images/bg.png');
	background-repeat: repeat-x;
}

#envelope {
	min-width: @width-content + 50px;
}

#header {
	position: relative;
	height: 80px;
	width: 100%;
	.center;
	overflow: hidden;
	.header_gradient;
	.border-radius(0, 10px, 10px, 0); 
	.box-shadow(0px 1px 2px 0px rgba(0, 0, 0, 0.7));
	z-index: 1;

	div {
		.center;
		margin-top: 10px;
		width: @width-content;
		height: 60px;
		display: block;
		border-left: 1px solid @header-separator-color;
		border-right: 1px solid @header-separator-color;

		h1 {
			margin-left: 30px;
			height: 60px;
			line-height: 60px;
			font-size: 30pt;
			font-family: serif;
		}
		.glose {
			overflow: hidden;
			color: @header-reflect-color;
			position: relative;
			top: -60px;
			height: 30px;
		}
		.reflect {
			.transform-header-name;
			overflow: hidden;
			color: black;
			position: relative;
			top: -65px;
			.opacity(0.08);
		}
	}
}

#middle {
	width: @width-content + 2;
	.center;

	#menu {
		height: 24px;
		width: @width-content;
		border-left: 1px solid @content-border-color;
		border-right: 1px solid @content-border-color;
		.menu_gradient
	}

	#menu li {
		float: left;
		list-style-image: url('../images/menu/arrow.png');
		list-style-position: inside;
		margin-left: 20px;
		margin-top: 2px;
	}

	#menu li:not(:last-of-type):after {
		margin-left: 20px;
		content: url('../images/menu/menu_separator.png'); 
	}
	#menu a {
		color: @menu-link-color;
		font-weight: bold;
		font-family: sans-serif;
		font-size: 10pt;
		text-decoration: underline;
	}
	#menu span {
		color: @menu-link-color;
		font-weight: bold;
		font-family: sans-serif;
		font-size: 10pt;
	}
	#menu a:hover {
		text-decoration: none;
	}
}

#content {
	padding: @content-padding;
	.center;
	border-left: 1px solid @content-border-color;
	border-right: 1px solid @content-border-color;
	border-bottom: 1px solid @content-border-color;
	background-color: @content-bgcolor;
	min-height: 500px;

	h1 {
		font-family: sans-serif;
		text-indent:1em;
	}

	h4 {
		font-family: sans-serif;
		text-indent:1em;
	}

	article {
		margin-top: 2em;
		p {
			margin-top: 0.5em;
			text-align: justify;
		}
	}

	&>hr {
		.center-reset;
		height: 1px;
		width: 70%;
		.underline-gradient;
		border: none;
	}
}

#footer {
	padding: 20px;

	.footer_separator {
		display: inline-block;
		background: grey;
		width: 1px;
		height: 63px;
		margin: 0px 14px;
		vertical-align: middle;
	}

	a {
		display: inline-block;
		background-repeat: no-repeat;
		vertical-align: middle;
		
		&.zcu {
			background-image: url('../images/footer/logo_zcu_grey.png');
			width: 146px;
			height: 77px;

			&:hover {
				background-image: url('../images/footer/logo_zcu_black.png');
			}
		}
		&.kiv {
			background-image: url('../images/footer/logo_kiv_grey.png');
			width: 264px;
			height: 50px;
			
			&:hover {
				background-image: url('../images/footer/logo_kiv_black.png');
			}
		}
	}
	p {
		vertical-align: middle;
		display: inline-block;
		font-family: sans-serif;
		font-size: 8pt;
		line-height: 2em;
		color: @footer-color-font;

		&.info {
			width: 230px;
		}
		&.desc {
			width: 198px;
		}
	}
}