/* CSS Document */
body
{
  font-family: verdana;
  text-align: center;
  font: 100% arial,sans-serif;
}

#main
{
  text-align: left;
  margin: 0 auto;
  width: 800px;
  position: relative;
  /*border: 2px solid black;*/
}

/* Global registry chooser (left upper corner) */
#gr_chooser {
  background-image: url(graphics/gr2.png);
  background-repeat: no-repeat;
  background-color: #D6D6D6;
  width: 140px;
  height: 120px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
  color: #0000FF;
  color: yellow;

  position: absolute;
  top: 100px;
  left: 0px;
  /*background-image: url(graphics/paper.jpg);*/
}

#gr_properties {
  background-color: white;
  width: 660px;
  height: 120px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;

  position: absolute;
  top: 100px;
  left: 140px;
}

#object_properties {
  border-left: 1px solid #000000;
  /*border-right: 1px solid #000000;*/
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;

  width: 140px;
  height: 460px;

  overflow: auto;
  position: absolute;
  top: 250px;
  left: 0px;
}

#object_properties_small
{
  width: 175px;
  height: 160px;

  overflow: auto;
  position: absolute;
  top: 105px;
  left: 0px;
}

/* bottom strip */
#footer {
  text-align: left;
  margin: 0 auto;
  width: 810px;
  /*background-color: #EEEEEE;*/
  height: 60px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #000000;

  position: absolute;
  top: 720px;
  left: 0px;
}

/* Wizard for coplete process (upper strip) */
#wizard {
  height: 100px;
  width: 810px;
  padding-left: 10px;
  font: 76% arial,sans-serif;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
  background-color: #EEEEEE;

  position: absolute;
  top: 0px;
  left: 0px;
}

/* center window for EFP trees */
#window {
  background-image: url(graphics/grid2.jpg);
  background-repeat: repeat;
  position: absolute;
  left: 140px;
  top: 250px;
  width: 670px;
  height: 460px;
  padding-left: 10px;
  border: 1px solid #000000;
  overflow: auto;
  line-height: 16px;
}

#window_small
{
  position: absolute;
  left: 180px;
  top: 105px;
  width: 630px;
  height: 160px;
  padding-left: 10px;
  border: 1px solid grey;
  background-color: grey;
  overflow: auto;
}

#window_small_2
{
  position: absolute;
  left: 180px;
  top: 105px;
  width: 630px;
  height: 190px;
  padding-left: 10px;
  border: 1px solid grey;
  background-color: grey;
  overflow: auto;
}

#content_down
{
  position: absolute;
  left: 0px;
  top: 300px;
  width: 810px;
  height: 400px;
  padding-left: 10px;
  border: 1px solid #000000;
  overflow-y: hidden;
}

#content_down_long
{
  position: absolute;
  left: 0px;
  top: 300px;
  width: 810px;
  padding-left: 10px;
  border: 1px solid #000000;
  overflow: auto;
}

#lr_buttons
{
  position: absolute;
  left: 0px;
  top: 100px;
  width: 810px;
  height: 50px;
  padding-left: 10px;
  overflow: auto;
}

#value_types_combo
{
  position: absolute;
  top: 220px;
  left: 335px;
  width: 350px;
  height: 220px;
  border: 1px solid #000000;
  background-color: #FFFFFF;
}

#gr_combo
{
  position: absolute;
  top: 95px;
  left: 13px;
  width: 245px;
  height: 180px;
  border: 1px solid #000000;
  background-color: #FFFFFF;
  font-family: verdana;
  font-weight: bold;
  font-size: medium;
  overflow-y: hidden;
  padding-left: 5px;
}

#user_combo
{
  position: absolute;
  top: 98px;
  left: 0px;
  width: 700px;
  height: 180px;
  border: 1px solid #000000;
  background-color: #FFFFFF;
  font-family: verdana;
  font-weight: bold;
  font-size: medium;
  overflow-y: hidden;
  padding-left: 5px;
  padding-bottom: 5px;
}

#global_register_left
{
  position: absolute;
  top: 200px;
  left: 20px;
  width: 300px;
  height: 80px;
}

#user_list
{
  position: absolute;
  top: 160px;
  left: 400px;
  overflow-y: hidden;
  height: 465px;
}

div.user_strip
{
  font-family: verdana;
  font-size: small;
  height: 40px;
  border: 1px solid #000000;
  padding: 2px;
  padding-left: 4px;
  padding-right: 6px;
  margin-bottom: 4px;
  border-right: 3px solid #C0C0C0;
  border-bottom: 3px solid #C0C0C0;
  background-color: #FFFFFF;
  vertical-align: middle;
}

div.user_strip_marked
{
  font-family: verdana;
  font-size: small;
  font-weight: bold;
  height: 40px;
  border: 1px solid #000000;
  padding: 2px;
  padding-left: 4px;
  padding-right: 6px;
  margin-bottom: 4px;
  border-right: 3px solid #C0C0C0;
  border-bottom: 3px solid #C0C0C0;
  background-color: #FF9933;
  color: #000000;
  vertical-align: middle;
}

div.wrap
{
  font-family: verdana;
  font-size: small;
  height: 40px;
  background-color: #FFFFFF;
  vertical-align: middle;
}

a.gr_line_assign
{
  font-family: verdana;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  color: #000000;
}

a.gr_line_assign:hover
{
  font-family: verdana;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  color: #000000;
}

a.gr_line_assign:link
{
  font-family: verdana;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  color: #000000;
}

a.gr_line_assign:visited
{
  font-family: verdana;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  color: #000000;
}
#parent_combo
{
  position: absolute;
  top: 110px;
  left: 285px;
  width: 245px;
  height: 60px;
  border: 1px solid #000000;
  background-color: #FFFFFF;
  font-family: verdana;
  font-weight: bold;
  font-size: medium;
  overflow-y: hidden;
  padding-left: 5px;
}

#lr_table
{
  overflow: auto;
  width: 380px;
  height: 350px;
}

#value_table
{
  overflow: hidden;
  width: 350px;
  height: 350px;
}

#lr_table_thin
{
  overflow: auto;
  width: 250px;
  height: 350px;
}

#value_table_thin
{
  overflow: auto;
  width: 200px;
  height: 350px;
}

#efp_table
{
  overflow: hidden;
  width: 200px;
  height: 350px;
}

a.value_type_black
{
  text-decoration: none;
  color: #000000;
  background-color: #FFFFFF;
  cursor: pointer;
}

a.value_type_black:link
{
  text-decoration: none;
  color: #000000;
  background-color: #FFFFFF;
  cursor: pointer;
}

a.value_type_black:visited
{
  text-decoration: none;
  color: #000000;
  background-color: #FFFFFF;
  cursor: pointer;
}

a.value_type_black:hover
{
  text-decoration: none;
  color: #FFFFFF;
  background-color: #000000;
  cursor: pointer;
}

a.gr_black
{
  text-decoration: none;
  color: #000000;
  background-color: #FFFFFF;
  cursor: pointer;
  display: block;
}

a.gr_black:link
{
  text-decoration: none;
  color: #000000;
  background-color: #FFFFFF;
  cursor: pointer;
  display: block;
}

a.gr_black:visited
{
  text-decoration: none;
  color: #000000;
  background-color: #FFFFFF;
  cursor: pointer;
  display: block;
}

a.gr_black:hover
{
  text-decoration: none;
  color: #FFFFFF;
  background-color: #000000;
  cursor: pointer;
  display: block;
}

#content_down_lr1
{
  position: absolute;
  left: 0px;
  top: 150px;
  width: 810px;
  height: 550px;
  padding-left: 10px;
  border: 1px solid #000000;
  overflow: auto;
}

#window p
{
  font-family: Verdana;
  font-size: small;
}

a.tree
{
  color: black;
  text-decoration: none;
}

a.tree:link
{
  color: black;
  text-decoration: none;
}

a.tree:visited
{
  color: black;
  text-decoration: none;
}

a.tree:hover
{
  color: #0000CC;
  text-decoration: none;
  font-weight: bold;
}

a.dir-icon
{
  text-decoration: none;
}

a.dir-icon:link
{
  text-decoration: none;
}

a.dir-icon:hover
{
  text-decoration: none;
}

a.dir-icon:visited
{
  text-decoration: none;
}

p.marked
{
  background-color: gray;
}

h6.object-properties
{
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

h6.caption
{
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 150px;
}

h5.object-properties
{
  padding-left: 5px;
  padding-right: 5px;
  color: #000000;
  border: 1px rgb(0,0,0) solid;
  text-align: center;
  /*margin: 5px;*/
  margin-bottom: 20px;
  /*background: rgba(139, 69, 19, 0.4);*/
  height: 40px;
  font-size: normal;
  /*width: 110px;*/
}

hr.object-properties
{
  margin: 2px;
  margin-top: 10px;
  color: #0000CC;
  height: 2px;
}

p.object-properties
{
  padding-left: 5px;
  padding-right: 5px;
  color: #0000CC;
  font-size: small;
}

div.object-properties
{
  padding-left: 5px;
  padding-right: 5px;
  color: #0000CC;
  font-size: xx-small;
}

#gr-button
{
  position: absolute;
  top: 30px;
  left: 130px;
}

#lr-button
{
  position: absolute;
  top: 3px;
  left: 325px;
}

#efp-button
{
  position: absolute;
  top: 30px;
  left: 540px;
}

#val-button
{
  position: absolute;
  top: 3px;
  left: 730px;
}

a.wizard
{
  display: block;
  width: 60px;
  height: 60px;
  overflow: hidden;
}

a.wizard:link
{
  display: block;
  width: 60px;
  height: 60px;
  overflow: hidden;
}

a.wizard:hover {
  text-indent: -60px;
}

a.wizard:visited
{
  display: block;
  width: 60px;
  height: 60px;
  overflow: hidden;
}

a img {
  border: none;
}

a.object-properties
{
  font-family: verdana;
  font-size: small;
  display: inline;
  color: #000000;
  text-decoration: none;
  padding: 2px;
}

a.object-properties:link
{
  font-family: verdana;
  font-size: small;
  display: inline;
  text-decoration: none;
  padding: 2px;
}

a.object-properties:visited
{
  font-family: verdana;
  font-size: small;
  display: inline;
  text-decoration: none;
  padding: 2px;
}

a.object-properties:active
{
  font-family: verdana;
  font-size: small;
  display: inline;
  text-decoration: none;
  padding: 2px;
}

a.object-properties:hover
{
  font-family: verdana;
  font-size: small;
  display: inline;
  color: #0000CC;
  text-decoration: none;
  padding: 2px;
  font-weight: bold;
}

a.object-properties-efp
{
  font-family: verdana;
  font-size: xx-small;
  display: inline;
  color: #000000;
  text-decoration: none;
  padding-left: 2px;
  padding-right: 0px;
}

a.object-properties-efp:link
{
  font-family: verdana;
  font-size: xx-small;
  display: inline;
  text-decoration: none;
  padding-left: 2px;
  padding-right: 0px;
}

a.object-properties-efp:visited
{
  font-family: verdana;
  font-size: xx-small;
  display: inline;
  text-decoration: none;
  padding-left: 2px;
  padding-right: 0px;
}

a.object-properties-efp:active
{
  font-family: verdana;
  font-size: xx-small;
  display: inline;
  text-decoration: none;
  padding-left: 2px;
  padding-right: 0px;
}

a.object-properties-efp:hover
{
  font-family: verdana;
  font-size: xx-small;
  display: inline;
  color: #FFFFFF;
  text-decoration: none;
  padding-left: 2px;
  padding-right: 0px;
  font-weight: bold;
  background-color: #000000;
  padding: 2px;
}

a.image
{
  margin-left: 2px;
  margin-right: 2px;
  text-decoration: none;
  border: 1px solid #0000CC;
  background-color: #FFFFFF;
}

a.image:hover
{
  margin-left: 2px;
  margin-right: 2px;
  text-decoration: none;
  border: 1px solid #0000CC;
  background-color: yellow;
}

img
{
  border: none;
  vertical-align: bottom;
}

img.tree-icon
{
  display: inline
}

select.chooser
{
  border: 1px solid #000000;
  /*background-color: #99CC33;*/
  background-color: #FFFFFF;
  width: 120px;
  font-family: Verdana;
  font-weight: bold;
}

select.chooser option
{
  /*border: 1px solid #3300FF;*/
  /*background-color: #99CC33;*/
  /*background-color: #99FF33;*/
  background-color: #FFFFFF;
}

ul li
{
  margin-left: -30px;
  padding-left: -30px;
  list-style-type: none;
}

p.lr_name
{
  /*background-image: url(graphics/lr2.gif);*/
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #D6D6D6;
  margin: 5px;
}

div.lr_name
{
  /*background-image: url(graphics/lr2.gif);*/
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /*background-color: #D6D6D6;*/
  /*width: 130px;*/
  margin: 5px;
}

p.efp
{
  background-image: url(graphics/efp.gif);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #D6D6D6;
  margin: 5px;
}

p.value
{
  background-image: url(graphics/val2.gif);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #D6D6D6;
  margin: 5px;
}

a.footer
{
  margin: 10px;
  text-decoration: none;
  color: #000000;
  font-family: verdana;
  font-size: small;
  font-weight: bold;
}

a.footer:hover
{
  margin: 10px;
  text-decoration: none;
  color: #0000CC;
  font-weight: bold;
  font-family: verdana;
  font-size: small;
}

h5.chooser
{
  padding-left: 5px;
  padding-right: 5px;
  color: #000000;
  border: 1px rgb(0,0,0) solid;
  text-align: left;
  margin-left: 0px;
  margin-right: 5px;
  margin-bottom: 20px;
  /*background-color: yellow;*/
  width: 110px;
}

h5.chooser_thin
{
  padding-left: 5px;
  padding-right: 5px;
  color: #000000;
  border: 1px rgb(0,0,0) solid;
  text-align: left;
  margin-left: 0px;
  margin-right: 5px;
  margin-bottom: 0px;
  /*background-color: yellow;*/
  width: 110px;
}

span.footer
{
  margin-top: 0px;
  margin-left: 10px;
  /*padding-bottom: 5px;*/
  /*float: left;*/
  height: 50px;
  width: 150px;
}

p.footer2
{
  margin-top: 0px;
  /*padding-bottom: 5px;*/
  font-family: verdana;
  font-size: small;
  font-weight: bold;
  height: 50px;
  width: 450px;
  text-align: right;

}

img.footer
{
  display: inline;
}

table.details
{
  border: 1px solid #000000;
  background-color: #D6D6D6;
  margin-left: 2px;
  margin-right: 2px;
  font-family: verdana;
  font-size: xx-small;
}

table.details tr td
{
  border: 1px solid #000000;
  background-color: yellow;
  color: #0000CC;
  font-family: verdana;
  font-size: xx-small;;
}

table.details tr th
{
  font-family: verdana;
  font-size: xx-small;
}

form
{
  margin-top: 10px;
}

input.range
{
  text-align: right;
  width: 70px;
  border: 1px solid #0000CC;
  font-family: verdana;
  font-size: x-small;
  font-weight: bold;
  /*background-color: #99CC33;*/
  background-color: #99FF33;
}

span.input
{
  font-family: verdana;
  font-size: x-small;
  margin-left: -8px;
}

fieldset
{
  border: 2px ridge black;
  margin-left: 3px;
  margin-right: 3px;
  padding-bottom: 0px;
  background-color: #CDCDCD;
}

legend
{
  font-family: verdana;
  font-size: small;
  background-color: yellow;
  color: #0000CC;
  border: 1px solid #000000;
}

h1.title
{
  font-family: verdana;
  background-color: yellow;
  color: #0000CC;
  border: 1px solid #000000;
  text-align: center;
}

h1.title2
{
  font-family: verdana;
  color: #000000;
  background-color: #C0C0C0;
  border: 1px solid #000000;
  text-align: center;
}

input.text-field
{
  font-family: verdana;
  font-weight: bold;
  width: 250px;
}

input.disabled
{
  font-family: verdana;
  font-weight: bold;
  width: 250px;
  background-color: #CCC;
}

select.text-field
{
  font-family: verdana;
  font-weight: bold;
  width: 255px;
  border: 1px solid #000000;
  background-color: #FFFFFF;
}

select.text-field option
{
  background-color: #FFFFFF;
}

button.green
{
  font-family: verdana;
  font-weight: bold;
  background-color: #009900;
  color: #FFFFFF;
  /*border: 1px solid #3300FF;*/
  cursor: pointer; cursor: hand;
  border: 1px ridge #CCCC00;
}

button.green:hover
{
  font-family: verdana;
  font-weight: bold;
  background-color: yellow;
  color: #000000;
  /*border: 1px solid #3300FF;*/
  cursor: pointer; cursor: hand;
  border: 1px ridge #CCCC00;
}

button.black
{
  font-family: verdana;
  font-weight: bold;
  background-color: white;
  color: #000000;
  /*border: 1px solid #3300FF;*/
  cursor: pointer; cursor: hand;
  border: 1px solid black;
}

button.black:hover
{
  font-family: verdana;
  font-weight: bold;
  background-color: black;
  color: #FFFFFF;
  /*border: 1px solid #3300FF;*/
  cursor: pointer; cursor: hand;
  border: 1px solid grey;
}

label.caption
{
  font-family: verdana;
  font-size: x-small;
  font-weight: bold;
  padding-right: 30px;
  text-align: left;
}

h3.wizard
{
  font-family: verdana;
  text-align: center;
  margin-top: 5px;
}

h5.grScreen
{
  font-family: verdana;
  text-align: center;
  margin-top: 5px;
  margin: 5px;
  margin-bottom: 5px;
  height: 20px;
}

h3.grScreen
{
  font-family: verdana;
  text-align: center;
  margin-top: 5px;
  border: 1px rgb(0,0,0) solid;
  margin: 5px;
  margin-bottom: 5px;
  background: rgba(255, 255, 0, 0.6);
  height: 25px;
}

a.bordered
{
  font-family: verdana;
  font-weight: bold;
  color: #000000;
  background-color: #009900;
  border: 1px solid #3300FF;
  text-decoration: none;
  font-size: small;
  padding: 5px 10px 5px 10px;
  margin: 10px 20px 10px 20px;
  display: block;
}

a.bordered:link
{
  font-family: verdana;
  font-weight: bold;
  color: #000000;
  background-color: #009900;
  border: 1px solid #3300FF;
  text-decoration: none;
  font-size: small;
  padding: 5px 10px 5px 10px;
  margin: 10px 20px 10px 20px;
  display: block;
}

a.bordered:visited
{
  font-family: verdana;
  font-weight: bold;
  color: #000000;
  background-color: #009900;
  border: 1px solid #3300FF;
  text-decoration: none;
  font-size: small;
  padding: 5px 10px 5px 10px;
  margin: 10px 20px 10px 20px;
  display: block;
}

a.bordered:active
{
  font-family: verdana;
  font-weight: bold;
  color: #000000;
  background-color: #009900;
  border: 1px solid #3300FF;
  text-decoration: none;
  font-size: small;
  padding: 5px 10px 5px 10px;
  margin: 10px 20px 10px 20px;
  display: block;
}

a.bordered:hover
{
  font-family: verdana;
  font-weight: bold;
  background-color: yellow;
  color: #000000;
  border: 1px solid #3300FF;
  text-decoration: none;
  font-size: small;
  padding: 5px 10px 5px 10px;
  margin: 10px 20px 10px 20px;
  display: block;
}

a.bordered_disabled
{
  font-family: verdana;
  font-weight: bold;
  color: #000000;
  background-color: grey;
  border: 1px solid #3300FF;
  text-decoration: none;
  font-size: small;
  padding: 5px 10px 5px 10px;
  margin: 10px 20px 10px 20px;
  display: block;
  cursor: default;
}

a.bordered_disabled:link
{
  font-family: verdana;
  font-weight: bold;
  color: #000000;
  background-color: grey;
  border: 1px solid #3300FF;
  text-decoration: none;
  font-size: small;
  padding: 5px 10px 5px 10px;
  margin: 10px 20px 10px 20px;
  display: block;
  cursor: default;
}

a.bordered_disabled:visited
{
  font-family: verdana;
  font-weight: bold;
  color: #000000;
  background-color: grey;
  border: 1px solid #3300FF;
  text-decoration: none;
  font-size: small;
  padding: 5px 10px 5px 10px;
  margin: 10px 20px 10px 20px;
  display: block;
  cursor: default;
}

a.bordered_disabled:active
{
  font-family: verdana;
  font-weight: bold;
  color: #000000;
  background-color: grey;
  border: 1px solid #3300FF;
  text-decoration: none;
  font-size: small;
  padding: 5px 10px 5px 10px;
  margin: 10px 20px 10px 20px;
  display: block;
  cursor: default;
}

a.bordered_disabled:hover
{
  font-family: verdana;
  font-weight: bold;
  background-color: grey;
  color: #000000;
  border: 1px solid #3300FF;
  text-decoration: none;
  font-size: small;
  padding: 5px 10px 5px 10px;
  margin: 10px 20px 10px 20px;
  display: block;
  cursor: default;
}

table.centered
{
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  /*width: 400px;*/
}

tr.inside-boxed
{
  text-align: left;
  border: 1px solid black;
  background: rgba(255, 255, 0, 0.6);
}

td.inside-boxed-header
{
  text-align: left;
  border: 1px solid black;
  background: rgba(255, 255, 0, 0.6);
  width: 200px;
}

th.inside-boxed, td.inside-boxed
{
  text-align: left;
  border: 1px solid black;
  background: rgba(255, 255, 0, 0.6);
  width: 300px;
  padding-left: 3px;
}

td.schema_nav
{
  font-family: verdana;
  font-weight: bold;
  width: 600px;
  padding-left: 3px;
}

td.operator
{
  font-family: verdana;
  font-weight: bold;
  width: 200px;
  height: 60px;
  text-align: right;
  padding-right: 3px;
}

p.explain
{
  font-family: verdana;
  font-size: small;
  font-style: italic;
}

#wrap-nifty
{
  position:relative;
  margin:10px;
  padding:.5em;
  font-size:.76em;
  color:#FFFFFF;
  border-top:10px solid #009900;
  border-bottom:10px solid #009900;
  border-left:10px solid #009900;
  border-right:10px solid #009900;
  text-align: center;
}

#wrap-nifty:visited
{
  color:#FFFFFF;
}

#wrap-nifty:link
{
  color:#FFFFFF;
}

#wrap-nifty:active
{
  color:#FFFFFF;
}

#wrap-nifty:hover
{
  color: #000000;
}

.topleft
{
position:absolute;
top:-10px;
left:-10px;
}
.topright
{
position:absolute;
top:-10px;
right:-10px;
}
.bottomleft
{
position:absolute;
bottom:-10px;
left:-10px;
}
.bottomright
{
position:absolute;
bottom:-10px;
right:-10px;
}
.topleft, .topright, .bottomleft, .bottomright
{
width:10px;
height:10px;
font-size:0px;
}

table.attributes
{
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  width: 500px;
  border: 1px solid black;
  padding: 20px;
  /*background-color: #669966;*/
  background-color: #EDEDED;
}

fieldset.attributes
{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  border: 1px solid black;
  padding: 20px;
  background-color: #EDEDED;
}

fieldset.attributes-login
{
  text-align: left;
  width: 250px;
  border: 4px ridge white;
  padding: 10px;
  background-color: #EDEDED;
}

legend.attributes
{
  font-family: verdana;
  font-size: x-small;
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  padding: 2px;
}

#loading { display:none; }

#loading
{
  z-index: 5;
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 80px;
  border: 1px solid #000000;
  text-align: center;
  vertical-align: center;
}

p.wizard
{
  font-family: verdana;
  font-size: small;
}

p.news
{
  font-family: verdana;
  font-size: medium;
  padding: 5px;
  text-indent: 10px;
}

hr.news
{
  color: #FF9966;
  background-color: #FF9966;
  height: 3px;
}

.wizardButton {
  -moz-box-shadow:inset 0px 1px 0px 0px #cfe6c6;
  -webkit-box-shadow:inset 0px 1px 0px 0px #cfe6c6;
  box-shadow:inset 0px 1px 0px 0px #cfe6c6;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f05d5d), color-stop(1, #c21515) );
  background:-moz-linear-gradient( center top, #f05d5d 5%, #c21515 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f05d5d', endColorstr='#c21515');
  background-color:#f05d5d;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #ddf0de;
  display:inline-block;
  color:#dff5da;
  font-family:Verdana;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:1px 1px 0px #1a031a;
}.wizardButton:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c21515), color-stop(1, #f05d5d) );
  background:-moz-linear-gradient( center top, #c21515 5%, #f05d5d 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c21515', endColorstr='#f05d5d');
  background-color:#c21515;
}.wizardButton:active {
  position:relative;
  top:1px;
}

.menuButton {
  -moz-box-shadow:inset 0px 1px 0px 0px #cfe6c6;
  -webkit-box-shadow:inset 0px 1px 0px 0px #cfe6c6;
  box-shadow:inset 0px 1px 0px 0px #cfe6c6;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #48b81b), color-stop(1, #188f20) );
  background:-moz-linear-gradient( center top, #48b81b 5%, #188f20 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#48b81b', endColorstr='#188f20');
  background-color:#48b81b;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #ddf0de;
  display:inline-block;
  color:#dff5da;
  font-family:Verdana;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:1px 1px 0px #1a031a;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 84px;
}.menuButton:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #188f20), color-stop(1, #48b81b) );
  background:-moz-linear-gradient( center top, #188f20 5%, #48b81b 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#188f20', endColorstr='#48b81b');
  background-color:#188f20;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 84px;
}.menuButton:active {
  position:relative;
  top:1px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 84px;
}

.menuButtonSelected {
  -moz-box-shadow:inset 0px 1px 0px 0px #242424;
  -webkit-box-shadow:inset 0px 1px 0px 0px #242424;
  box-shadow:inset 0px 1px 0px 0px #242424;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4f4d4f), color-stop(1, #4f4d4f) );
  background:-moz-linear-gradient( center top, #4f4d4f 5%, #4f4d4f 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f4d4f', endColorstr='#4f4d4f');
  background-color:#4f4d4f;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#ebe4eb;
  font-family:Verdana;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:1px 1px 0px #8a868a;
  margin-top: 10px;
    margin-bottom: 10px;
    width: 84px;
}.menuButtonSelected:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4f4d4f), color-stop(1, #4f4d4f) );
  background:-moz-linear-gradient( center top, #4f4d4f 5%, #4f4d4f 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f4d4f', endColorstr='#4f4d4f');
  background-color:#4f4d4f;
  margin-top: 10px;
    margin-bottom: 10px;
    width: 84px;
}.menuButtonSelected:active {
  position:relative;
  top:1px;
  margin-top: 10px;
    margin-bottom: 10px;
    width: 84px;
}

.menuButtonDisabled {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f5f2eb), color-stop(1, #f5f4f2) );
  background:-moz-linear-gradient( center top, #f5f2eb 5%, #f5f4f2 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f2eb', endColorstr='#f5f4f2');
  background-color:#f5f2eb;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #3b3a3b;
  display:inline-block;
  color:#363436;
  font-family:Verdana;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:1px 1px 0px #dedede;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 84px;
  cursor: default;
}.menuButtonDisabled:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f5f4f2), color-stop(1, #f5f2eb) );
  background:-moz-linear-gradient( center top, #f5f4f2 5%, #f5f2eb 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f4f2', endColorstr='#f5f2eb');
  background-color:#f5f4f2;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 84px;
  cursor: default;
}.menuButtonDisabled:active {
  position:relative;
  top:1px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 84px;
  cursor: default;
}

.menuButtonGrey {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dbdbdb), color-stop(1, #fffcff) );
  background:-moz-linear-gradient( center top, #dbdbdb 5%, #fffcff 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbdbdb', endColorstr='#fffcff');
  background-color:#dbdbdb;
  -moz-border-radius:31px;
  -webkit-border-radius:31px;
  border-radius:31px;
  border:1px solid #4d4b4d;
  display:inline-block;
  color:#050005;
  font-family:Verdana;
  font-size:10px;
  font-weight:bold;
  padding:10px 50px;
  text-decoration:none;
  text-shadow:1px 1px 0px #ffffff;
}.menuButtonGrey:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fffcff), color-stop(1, #dbdbdb) );
  background:-moz-linear-gradient( center top, #fffcff 5%, #dbdbdb 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcff', endColorstr='#dbdbdb');
  background-color:#fffcff;
}.menuButtonGrey:active {
  position:relative;
  top:1px;
}

a.tree_lr
{
  font-family: verdana;
  font-size: small;
  text-decoration: none;
  padding: 2px;
  color: #000000;
  border: 1px solid #000000;
  background-color: #EEEEEE;
}

a.tree_value
{
  font-family: verdana;
  font-size: small;
  text-decoration: none;
  padding: 2px;
  color: #000000;
  border: 1px solid #000000;
  background-color: #EEEEEE;
}

a.tree_efp
{
  font-family: verdana;
  font-size: small;
  text-decoration: none;
  padding: 2px;
  color: #000000;
  border: 1px solid #000000;
  background-color: #EEEEEE;
}

a.tree_lr_no_dragg
{
  font-family: verdana;
  font-size: small;
  text-decoration: none;
  padding: 2px;
  color: #000000;
  border: 1px solid #000000;
  background-color: #EEEEEE;
}

a.tree_lr.ui-draggable-dragging { z-index: 100; }

div.help_cube
{
  display: none;
  font-family: verdana;
  font-size: small;
  width: 300px;
  height: 100px;
  position: absolute;
  top: 80%;
  left: 50%;
  border: 1px solid #000000;
  background-color: #C0C0C0;
  padding: 10px;
}

div.help_snap
{
  display: none;
  width: 400px;
  height: 300px;
  position: absolute;
  top: 15%;
  left: 20%;
  border: 1px solid #000000;
  background: rgba(255, 255, 255, 0.8);
}

div.help_content
{
  width: 806px;
  height: 250px;
  position: absolute;
  top: 96px;
  left: 0px%;
}

a.drag_efp
{
  font-family: verdana;
  font-size: small;
  text-decoration: none;
  padding: 2px;
  color: #000000;
  border: 1px solid #000000;
  background-color: #EEEEEE;
}

a.drag_value
{
  font-family: verdana;
  font-size: small;
  text-decoration: none;
  padding: 2px;
  color: #000000;
  border: 1px solid #000000;
  background-color: #EEEEEE;
}

span.ref
{
  cursor: pointer;
  font-family: verdana;
  font-size: small;
  font-weight: bold;
  background-color: grey;
  border: 1px solid black;
  padding: 2px;
}

span.ref-hover
{
  cursor: pointer;
  font-family: verdana;
  font-size: small;
  font-weight: bold;
  background-color: black;
  color: white;
  border: 1px solid grey;
  padding: 2px;
}

span.box
{
  font-family: verdana;
  font-size: small;
  font-weight: bold;
}

span.result-green
{
  font-family: verdana;
  font-size: small;
  color: green;
}

span.result-red
{
  font-family: verdana;
  font-size: small;
  color: red;
}

tr.gr_line
{
  cursor: default;
}

td.like_input_id
{
  text-align: left;
  border: 1px solid #000000;
  background-color: #FFFFFF;
  color: #000000;
  width: 150px;
}

td.like_input_gr_id
{
  text-align: left;
  border: 1px solid #000000;
  background-color: #FFFFFF;
  color: #000000;
  width: 150px;
}

td.like_input_normal
{
  text-align: left;
  border: 1px solid #000000;
  background-color: #FFFFFF;
  color: #000000;
  width: 400px;
}

td.like_input_normal_colored
{
  text-align: left;
  border: 1px solid #000000;
  background-color: #E0E0E0;
  color: #000000;
  width: 400px;
}

td.like_input_gr_id_colored
{
  text-align: left;
  border: 1px solid #000000;
  background-color: #E0E0E0;
  color: #000000;
  width: 400px;
}

td.like_input_lr
{
  text-align: left;
  border: 1px solid #000000;
  background-color: #FFFFFF;
  color: #000000;
  width: 500px;
}

td.like_input_lr_colored
{
  text-align: left;
  border: 1px solid #000000;
  background-color: #E0E0E0;
  color: #000000;
  width: 500px;
}

td.like_input_id_sel
{
  text-align: left;
  border: 1px solid #000000;
  background-color: #000000;
  color: #FFFFFF;
  font-weight: bold;
  width: 150px;
}

td.like_input_normal_sel
{
  text-align: left;
  border: 1px solid #000000;
  background-color: #000000;
  color: #FFFFFF;
  font-weight: bold;
  width: 400px;
}

td.like_input_normal_sel_colored
{
  text-align: left;
  border: 1px solid #000000;
  background-color: #000000;
  color: #FFFFFF;
  font-weight: bold;
  width: 400px;
}

td.like_input_lr_sel
{
  text-align: left;
  border: 1px solid #000000;
  background-color: #000000;
  color: #FFFFFF;
  font-weight: bold;
  width: 400px;
}

td.like_input_lr_sel_colored
{
  text-align: left;
  border: 1px solid #000000;
  background-color: #000000;
  color: #FFFFFF;
  font-weight: bold;
  width: 400px;
}

#target_lr
{
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
  background-color: #C0C0C0;

  width: 250px;
  height: 300px;

  position: absolute;
  top: 20px;
  left: 360px;
}

#efp_bar
{
  position: absolute;
  top: 160px;
  left: 630px;
  border: 1px solid black;
  width: 160px;
}

#buttons
{
  width: 250px;
  height: 50px;

  overflow: hidden;
  position: absolute;
  top: 340px;
  left: 360px;
}

#scrollbar1 { width: 200px; clear: both; margin: 20px 0 10px; }
#scrollbar1 .viewport { width: 500px; height: 200px; overflow: hidden; position: relative; }
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; }
#scrollbar1 .thumb .end,
#scrollbar1 .thumb { background-color: #C0C0C0; }
#scrollbar1 .scrollbar { position: relative; float: right; width: 15px; }
#scrollbar1 .track { background-color: #E0E0E0; height: 100%; width:13px; position: relative; padding: 0 1px; }
#scrollbar1 .thumb { height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#scrollbar1 .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#scrollbar1 .disable{ display: none; }

#scrollbar2 { width: 200px; clear: both; margin: 20px 0 10px; }
#scrollbar2 .viewport { width: 500px; height: 200px; overflow: hidden; position: relative; }
#scrollbar2 .overview { list-style: none; position: absolute; left: 0; top: 0; }
#scrollbar2 .thumb .end,
#scrollbar2 .thumb { background-color: #C0C0C0; }
#scrollbar2 .scrollbar { position: relative; float: right; width: 15px; }
#scrollbar2 .track { background-color: #E0E0E0; height: 100%; width:13px; position: relative; padding: 0 1px; }
#scrollbar2 .thumb { height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#scrollbar2 .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#scrollbar2 .disable{ display: none; }

#scrollbar3 { position: relative; left: 100px; width: 600px; clear: both; margin: 20px 0 10px; }
#scrollbar3 .viewport { width: 600px; height: 265px; overflow: hidden; position: relative; }
#scrollbar3 .overview { list-style: none; position: absolute; left: 0; top: 0; }
#scrollbar3 .thumb .end,
#scrollbar3 .thumb { background-color: #C0C0C0; }
#scrollbar3 .scrollbar { position: relative; float: right; width: 15px; }
#scrollbar3 .track { display: none; background-color: #E0E0E0; height: 100%; width:13px; position: relative; padding: 0 1px; }
#scrollbar3 .thumb { height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#scrollbar3 .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#scrollbar3 .disable{ display: none; }

#message_bar
{
  position: absolute;
  top: 50px;
  left: 290px;
  width: 350px;
  height: 30px;
  font-family: verdana;
  font-weight: bold;
  color: 00FF00;
}
