
@color-hr: grey;
@view: #CCE5FF;
@view-padding: 30px;
@bgcolor-odd: #D1F1FC;
@bgcolor-even: #9CDEF4;
@center-separator: 30px;
@border-color-error-messages: #EE0000;

#wizard {
	margin-top: 30px;

	ul {
		width: 653px;
		height: 24px;

		.center;
		li {
			float: left;
			list-style: none;
			font-size: 10pt;
			background-repeat: no-repeat;
			line-height: 24px;
			text-align: center;

			&.left_inactive {
				background-image: url('../images/wizard/left.png');
				width: 231px;
				height: 24px;
			}
			&.middle_inactive {
				background-image: url('../images/wizard/middle.png');
				width: 156px;
				height: 24px;
			}
			&.right_inactive {
				background-image: url('../images/wizard/right.png');
				width: 110px;
				height: 24px;
			}
			&.left_active {
				background-image: url('../images/wizard/choose/left.png');
				width: 231px;
				height: 24px;
				font-weight: bold;
			}
			&.middle_active {
				background-image: url('../images/wizard/choose/middle.png');
				width: 156px;
				height: 24px;
				font-weight: bold;
			}
			&.right_active {
				background-image: url('../images/wizard/choose/right.png');
				width: 110px;
				height: 24px;
				font-weight: bold;
			}
		}
	}
}

#window {
	width: @width-content - @content-padding - @content-padding;
	height: auto;
	line-height: auto;
	text-align: center;
	margin-top: 30px;

	h4 {
		font-weight: bold;
		font-size: 10pt;
	}

	h2 {
		margin-bottom: 20px;
	}
	
	#choose_framework {
		margin-top: 50px;
		text-align: left;
		line-height: 0px;
		display: inline-block;
		.border(grey);
		.center;
		width: 300px;
		padding: 30px;
		background: @view;
		
		h4 {
			border: 0px;
			margin-bottom: 10px;
		}

		hr {
			border: 0px;
			border-top: 1px solid @color-hr;
			margin: 15px 0px;
		}

		select {
			display: block;
			width: 300px;
			height: 25px;
		}
		
		input[type=submit] {
			float: right;
			display: block;
			width: 70px;
		}
	}
	#upload {
		text-align: left;
		line-height: 0px;
		display: inline-block;
		.border(grey);
		.center;
		min-width: 300px;
		max-width: @width-content - 2 * @content-padding - 2 * @view-padding - 2;
		padding: 30px;
		background: @view;
		vertical-align: middle;

        label {
            font-size: 10pt;
        }
        
        #progress {
            margin-left: 1em;
        }
		
		h4 {
			border: 0px;
			margin-bottom: 20px;
            &.header_error {
                color: @border-color-error-messages;
            }
		}

		hr {
			margin-top: 10px;
			margin-bottom: 20px;
			border: 0px;
			border-top: 1px solid @color-hr;
		}

		input[type=file] {
			margin-bottom: 10px;
			float: right;
			display: block;
		}

		.upload {
			margin-bottom: 5px;
			float: right;
			display: block;
			width: 70px;
		}

        ul#error_messages {
            list-style: disc inside;
			margin-bottom: 20px;
            .border(@border-color-error-messages);
            
            li {
                font-size: 10pt;
                background: none;
            }
        }
		
		ul {
			list-style: none;
			margin-top: 10px;
			margin-bottom: 20px;
			.border(grey);
			li {
				line-height: 25px;
                height: 25px;
				padding: 0px 1em;

				text-overflow: ellipsis; 
				overflow: hidden; 
				white-space: nowrap;

				&:nth-child(odd) {
					background: @bgcolor-odd;
				}
				&:nth-child(even) {
					background: @bgcolor-even;
				}

                strong {
                    display: block;
                    float: left;
                    font-weight: bold;
                    font-size: 10pt;
                }

                img {
                    cursor: pointer;
                    margin-top: 4px;
                    width: 16px;
                    height: 16px;
                    vertical-align: middle;
                    display: inline-block;
                    float: right;
                }
			}
		}
		.nav_right {
			float: right;
		}
	}

	#choose_id {
		text-align: left;
		line-height: 0px;
		display: inline-block;
		.border(grey);
		.center;
		min-width: 300px;
		max-width: @width-content - 2 * @content-padding - 2 * @view-padding - 2;
		padding: 30px;
		background: @view;
		vertical-align: middle;
		
		h4 {
			border: 0px;
			margin-bottom: 20px;
			
			&.id {
				float: left;
				margin-right: 20px;
				margin-bottom: 10px;
				line-height: 15px;
			}
		}

		select {
			display: block;
			line-height: 15px;
		}

		hr {
			margin-top: 10px;
			margin-bottom: 20px;
			border: 0px;
			border-top: 1px solid @color-hr;
		}

		.upload {
			margin-bottom: 5px;
			float: right;
			display: block;
			width: 70px;
		}
		
		ul {
			list-style: none;
			margin-top: 10px;
			margin-bottom: 20px;
			.border(grey);
			li {
				line-height: 25px;
				font-weight: bold;
				font-size: 10pt;
				padding: 0px 1em;

				text-overflow: ellipsis; 
				overflow: hidden; 
				white-space: nowrap;

				&:nth-child(odd) {
					background: @bgcolor-odd;
				}
				&:nth-child(even) {
					background: @bgcolor-even;
				}
				
				img {
					margin-right: 1em;
					vertical-align: middle;
				}
			}
		}

		.nav_right {
			float: right;
		}
	}
    
    #results {
        font-size: 10pt;
        .nav_left {
            float: right;
            margin-right: 50px;
        }

        span {
            line-height: 16px;
            vertical-align: top;
        }

        #left_column {
            float: left;
            width: (@width-content - (2 * @content-padding) - @center-separator) / 2;

            #leftTree {
                //list-style-position: outside;
                text-align: left;
                float: right;
                max-width: 100%;
                line-height: 10pt;

                li {
                    vertical-align: middle;
                    //text-overflow: ellipsis; 
                    //overflow: hidden; 
                    white-space: nowrap;
                    text-align: left;
                    
                    .result_flag {
                        margin-left: 20px;
                    }
                    .case {
                        display: inline; 
                        width: 100%; 
                        overflow: hidden; 
                        white-space: nowrap; 
                        text-overflow: ellipsis; 
                        float: left; 
                        margin-right: -20px;
                        border-bottom: 1px dotted grey;
                    }
                }
            }
        }

        #right_column {
            float: left;
            width: (@width-content - (2 * @content-padding) - @center-separator)/2;
            margin-left: @center-separator;
            text-align: left;

            #rightTree {
                list-style-position: inside;
                float: left;
                max-width: 100%;
                line-height: 10pt;

                li {
                    text-overflow: ellipsis; 
                    overflow: hidden; 
                    white-space: nowrap;

                    .overrideTree:hover {
                        color: black;
                        cursor: default;
                    }
                }
            }
        }
    }
}
